*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body{
  height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual !important;
	-webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important;
}

#button, #back{
  outline: none;
  border: none;
}

#modal{
  text-align: center;
	position: fixed;
	z-index: -30;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: transform 400ms ease;
	transform: translateY(5%);
	will-change: transform;
}

#modal h1{
	font-family: 'Libre Baskerville', serif;
	color: #ffffff;
	transform: translateY(10%);
	opacity: 0;
	transition: all 800ms ease;
	will-change: transform;
	margin-bottom: 1.25rem;
	margin-top: 0;
}

#modal h3{
	font-family: 'Libre Baskerville', serif;
	color: #ffffff;
	transform: translateY(15%);
	opacity: 0;
	transition: all 800ms ease;
	will-change: transform;
	margin-bottom: 0.625rem;
	margin-top: 0;
}

#modal.show{
	opacity: 1;
	transform: translateY(0);
}

#modal.show h1.show{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

#modal.show h3.show{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

#modal.show h1::selection, #modal.show h3::selection{
	background-color:#ffffff;
	color: #08AEEA;
}

#modal .back{
	transform: translateY(25%);
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10vw;
	height: 7vh;
	padding: 0;
	margin-top: 2.4em;
	background-color: #08AEEA;
	background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
	border-radius: 5px;
	will-change: transform;
	transition: transform 350ms ease, opacity 500ms linear;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#modal .back::before {
		content: "";
    top: 25%;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background: inherit;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    transition: all 400ms ease;
    position: absolute;
    z-index: -1;
    will-change: filter, transform;
}

#modal.show .back.show{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

#modal .back p{
	font-family: 'Source Sans Pro', sans-serif;
	transform: translateX(0.09em);
	font-size: 30px;
	line-height: 30px;
  margin: 0;
	color: #ffffff;
  font-weight: bold;
}

#modal.z-index-modal{
	z-index: 1000;
}

#blurContainer{
	background-color: #fcfaf3;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	will-change: filter;
	transition: filter 200ms linear;
}

#blurContainer.blured{
	filter:blur(25px) brightness(0.87);
}

@keyframes transformborder
{
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}


@keyframes posicao
{
    0%,
  100% { transform: none; }
   50% { transform: translateY(5%) rotateZ(10deg);}
}

@keyframes imgposicao
{
    0%,
  100% { transform: none; }
   50% { transform: rotateZ(-10deg);}
}

@keyframes shade
{
    0%,
  100% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
}

@use autoprefixer(
  browsers: "> 3%"
);

img{
  position: absolute;
  height: auto;
  width: 50%;
  min-width: 80px;
  display: flex;
  align-self: center;
  justify-self: center;
  transition: all 200ms ease;
  will-change: transform;
  animation:
    imgposicao 50s ease-in-out infinite both;
    
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#button img{
    -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-user-select: none;
-webkit-touch-callout: none /*only to disable context menu on long press*/
}

#button
{
  content: '';
  display: flex;
  z-index:10;
  align-items:center;
  justify-content:center;
  overflow: visible;
  width: 20vw;
  height: 20vw;
  min-height: 90px;
  min-width: 90px;
  box-shadow: inset 0px 0px 30px 1px white;
  background-color: #FEE140;
	background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 50%, #801eb5 100%);
	background-size: 200% 200%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: border-radius, background-position;
  animation:
    transformborder 40s ease-in-out infinite both alternate,
    posicao 50s ease-in-out infinite both,
    shade 60s linear infinite both;

  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none /*only to disable context menu on long press*/
}


#button::before {
  content: "";
  top: 5%;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: inherit;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  will-change: border-radius, background-position, filter;
  transition: all 400ms ease;
  
  animation:
    transformborder 40s ease-in-out infinite both alternate,
    posicao 50s ease-in-out infinite both,
    shade 60s linear infinite both;

  position: absolute;
  z-index: -5;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none /*only to disable context menu on long press*/
}

#button, #button::before, #back::before{
  cursor:pointer;
}

span{
  cursor: pointer;
  transition: all 250ms ease;
}

span:focus, span:focus:hover, span:hover{
  cursor: pointer;
  transform: scale3d(1.12, 1.12, 1.12);
}

span:focus #button::before, span:focus:hover #button::before, span:hover #button::before{
  opacity: 0.5;
}

span:active:hover, span:active{
  cursor: pointer;
  transform: scale3d(0.95, 0.95, 0.95);
  transition: all 100ms ease;
}

span:active:hover #button::before, span:active #button::before{
  opacity: 0.9;
}

#modal.show .back.show:focus, #modal.show .back.show:focus:hover, #modal.show .back.show:hover{
  cursor: pointer;
  transform: scale3d(1.12, 1.12, 1.12);
}

#modal.show .back.show:active:hover, #modal.show .back.show:active{
  cursor: pointer;
  transform: scale3d(0.95, 0.95, 0.95);
  transition: all 100ms ease;
}


@media only screen and (orientation: portrait){

  #button{
    width: 72vw;
    height: 72vw;
  }

  #modal{
    transition: all 900ms ease;
  }

}

@media only screen and (orientation:portrait) and (max-width:420px) and (-webkit-min-device-pixel-ratio:3){
  #modal.show, #blurContainer{
    transform: translateY(-15%);
  }

#modal .back::before, #modal .back:active::before,#modal .back:active:hover::before{
    display:none;}
}

@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width:420px) { 


#modal h1{
    font-size: 58px;
    line-height: 72px;
  }

  #modal h3{
    font-size: 34px;
    line-height: 44px
  }

  #modal .back{
    width: 24vw;
    height: 12vh;
    padding: 0 18px;
  }

  #modal .back p{
    font-size: 48px;
    line-height: 60px;
    margin: 0;
  }

}

a,
area,
button,
#button,
span,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}